* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: rgb(106, 106, 106);
  background: linear-gradient(
    90deg,
    rgb(37, 37, 37) 0%,
    rgba(36, 35, 35, 0.959) 2%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
}
@import "./video-player";
@import "./navbar.scss";
