nav {
  width: 100%;
  background: #26bac0;
  background-image: linear-gradient(to right, #8cfbff, #26bac0);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: white;
    font-family: sans-serif;
    justify-self: center;
  }
  svg {
    color: white;
    justify-self: flex-start;
    margin: 0 0.7rem;
  }
}
