.video-player {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.modal-style {
  position: absolute;
  top: 20%;
  border-radius: 10rem !important;
}
.modal-content {
  background-color: rgba(63, 60, 60, 0.1);
  color: white;
  backdrop-filter: blur(20px);
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.modal-footer button {
  background: #15cca0;
  color: black;
}
h5 {
  color: #15cca0;
}
h6,
h4 {
  color: white;
}

$vid-padding: 0.5rem;
$video-width: 20rem;
$video-height: $video-width * 9 / 16;
$video-br: 1rem;
$video-progress-height: 0rem;

.vid-container {
  position: relative;

  width: $video-width + $vid-padding * 2;
  height: ($video-height * 2) + $video-progress-height + $vid-padding * 2;

  background-color: rgba($color: #fff, $alpha: 0.308);
  border-radius: $video-br;

  padding: $vid-padding;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

// position: absolute for viewer & controls so that they overlap
.vid-viewer {
  position: absolute;
  z-index: 1;

  // .progress {
  //   width: 100%;
  //   height: $video-progress-height;
  //   background-color: #ecfffa;
  //   .progress-filled {
  //     width: 25%;
  //     height: 100%;
  //     background-color: #15cca0;
  //   }
  // }

  .video1 {
    border-radius: $video-br $video-br 0 0;
    overflow: hidden;
  }
  .video2 {
    border-radius: 0 0 $video-br $video-br;
    overflow: hidden;
  }
  .video1,
  .video2 {
    width: $video-width;
    height: $video-width * 9 / 16;
    background: #000;

    //center
    display: flex;
    justify-content: center;
    //fit video in container
    video {
      height: 100%;
      width: auto;
    }
  }
}
.vid-controls {
  position: absolute;
  z-index: 2;

  width: $video-width;
  height: $video-height * 2 + $video-progress-height;

  display: flex;
  * {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
