.video-player {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.modal-style {
  position: absolute;
  top: 20%;
  border-radius: 10rem !important;
}
.modal-content {
  background-color: rgba(63, 60, 60, 0.1);
  color: white;
  backdrop-filter: blur(20px);
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.modal-footer button {
  background: #15cca0;
  color: black;
}
h5 {
  color: #15cca0;
}
h6,
h4 {
  color: white;
}

$vid-padding: 0.5rem;
$video-width: 20rem;
$video-height: $video-width * 9 / 16;
$video-br: 1rem;

.vid-container {
  position: relative;

  width: $video-width + $vid-padding * 2;
  height: ($video-height * 2) + $vid-padding * 2;

  background-color: rgba($color: #fff, $alpha: 0.308);
  border-radius: $video-br;

  padding: $vid-padding;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

// position: absolute for viewer & controls so that they overlap
.vid-viewer {
  position: absolute;
  z-index: 1;
  .video1 {
    border-radius: $video-br $video-br 0 0;
    overflow: hidden;
  }
  .video2 {
    border-radius: 0 0 $video-br $video-br;
    overflow: hidden;
  }
  .video1,
  .video2 {
    width: $video-width;
    height: $video-width * 9 / 16;
    background: #000;

    //center
    display: flex;
    justify-content: center;
    //fit video in container
    video {
      height: 100%;
      width: auto;
    }
  }
}

.vid-paused-overlay {
  position: absolute;
  z-index: 2;

  width: $video-width;
  height: $video-height * 2;
  border-radius: $video-br;
  background-color: rgba($color: #000, $alpha: 0.308);
}
.vid-controls {
  position: absolute;
  z-index: 3;

  width: $video-width;
  height: $video-height * 2;

  display: flex;
  * {
    width: 33%;
    //center icons
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-container {
      display: flex;
      flex-direction: column;

      //center left & right icon
      svg {
        margin-top: 40px;
      }
    }
    svg {
      color: rgba($color: #fff, $alpha: 0.8);
    }
    .control-info {
      user-select: none;
      color: rgba($color: #fff, $alpha: 0.8);
      text-transform: uppercase;
      text-align: center;

      font-family: "Montserrat", sans-serif;
      font-size: 0.7rem;
      font-weight: 100;

      padding-top: 1rem;
    }
  }
}
